.navbar {
  width: 100%;
  padding-right: 2rem;
  background-color: #404040;
  display: flex;
  justify-content: flex-start;
}

@media screen and (min-width: 601px) {
  .navbar {
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}

.navbar > * {
  color: var(--theme-fg-most);
  font-size: 16pt;
  text-align: center;
  margin: 0.5rem;
}

.navbarActivePage {
  text-decoration: underline;
}

.navbarSiteTitle {
  color: var(--theme-green);
  font-size: 24pt;
  text-align: left;
  flex-grow: 1;
}