@media screen and (min-width: 1001px) {
  .single {
    margin: 4em;
  }
}

@media screen and (max-width: 1000px) {
  .single {
    margin: 0.5em;
  }
}

@media screen and (min-width: 1001px) {
  .focused {
    margin: 8vw;
  }
}

@media screen and (max-width: 1000px) {
  .focused {
    margin: 0.5em;
  }
}

