.searchBar {
  display: flex;
  flex-direction: row;
  border-width: 0.1em;
  border-style: solid;
  border-color: var(--theme-green);
  border-radius: 0.4em;
}

.searchInput {
  width: 1em;
  padding-left: 0.3em;
  flex-grow: 1;
  color: var(--theme-fg-most);
  background-color: var(--theme-bg-medium);
}

.searchButton {
  border-left: 0.1em solid var(--theme-green);
}