/* Fonts */

@font-face {
  font-family: Readex Pro;
  src: url("/fonts/ReadexPro-Medium.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Readex Pro;
  src: url("/fonts/ReadexPro-bold.ttf");
  font-weight: bold;
}

/* Shared Theme */

:root {
  --theme-green: #E6FECC;
  --theme-green-alt: #80C080;
  --theme-fg-most: #FFFFFF;
  --theme-bg-medium: #404040;
  --theme-bg-more: #303030;
  --theme-bg-most: #101010;
}

a {
  text-decoration: none;
  color: var(--theme-green);
}

/* Essential Page Setup */

html, body {
  padding: 0;
  margin: 0;
  font-family: Readex Pro, sans-serif;
  font-size: 16pt;
  color: var(--theme-fg-most);
  background-color: var(--theme-bg-medium);
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.6em;
  margin-bottom: 0.4em;
  width: fit-content;
  font-weight: normal;
}

h1, .signatureGradient {
  color: transparent;
  background: linear-gradient(125deg, var(--theme-green) 0%, var(--theme-green-alt) 100%);
  -webkit-background-clip: text;
}

h2 {
  color: var(--theme-green);
}

@media screen and (min-width: 701px) {
  h1 {font-size: 60pt;}
  h2 {font-size: 48pt;}
  h3 {font-size: 36pt;}
  h4 {font-size: 24pt;}
  h5 {font-size: 20pt;}
  h6 {font-size: 18pt;}
}

@media screen and (max-width: 700px) {
  h1 {font-size: 15vw;}
  h2 {font-size: 12vw;}
  h3 {font-size: 10vw;}
  h4 {font-size: 8vw;}
  h5 {font-size: 6vw;}
  h6 {font-size: 4.5vw;}
}

/* Fixes */

/*
 Remove browser styling for buttons.
 https://stackoverflow.com/a/45890842/3116659
 */
button, input[type="button"], input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

input[type="text"] {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
}